@font-face {
    font-family: 'set_fire_to_the_rainregular';
    src: url('../fonts/setfiretotherain-webfont.eot');
    src: url('../fonts/setfiretotherain-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/setfiretotherain-webfont.woff') format('woff'),
         url('../fonts/setfiretotherain-webfont.ttf') format('truetype'),
         url('../fonts/setfiretotherain-webfont.svg#set_fire_to_the_rainregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sansregular';
    src: url('../fonts/pt-sans-webfont.eot');
    src: url('../fonts/pt-sans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt-sans-webfont.woff') format('woff'),
         url('../fonts/pt-sans-webfont.ttf') format('truetype'),
         url('../fonts/pt-sans-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sansbold';
    src: url('../fonts/pt-sans-bold-webfont.eot');
    src: url('../fonts/pt-sans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt-sans-bold-webfont.woff') format('woff'),
         url('../fonts/pt-sans-bold-webfont.ttf') format('truetype'),
         url('../fonts/pt-sans-bold-webfont.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}