.tooltipster-iegranvidei {
	border-radius: 5px;
    border: 2px solid #ded5ab;
    background: #ffffff;
    color: #867a42;
}

.tooltipster-iegranvidei .tooltipster-content {
    font-size: 14px;
    line-height: 16px;
    font-family: "pt_sansregular", Arial, Verdana;
	padding: 6px 8px 2px 8px;
}